body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:514px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:874px;
}
#u1218 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:38px;
  width:414px;
  height:874px;
}
#u1219 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:429px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:139px;
  width:375px;
  height:667px;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:155px;
  width:375px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6B6B6B;
}
#u1223 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u1224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:18px;
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:138px;
  width:375px;
  height:18px;
}
#u1225 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:611px;
}
#u1226 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:198px;
  width:375px;
  height:610px;
  color:#FFFFFF;
}
#u1227 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:297px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1228 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:165px;
  width:24px;
  height:24px;
}
#u1229 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u1230 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:442px;
  width:233px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u1231 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  word-wrap:break-word;
}
#u1232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:172px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1232 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:238px;
  width:175px;
  height:172px;
}
#u1233 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:78px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
