body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:514px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:874px;
}
#u1971 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:38px;
  width:414px;
  height:874px;
}
#u1972 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:429px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1973 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:139px;
  width:375px;
  height:667px;
}
#u1974 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u1975 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:155px;
  width:375px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6B6B6B;
}
#u1976 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u1977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:18px;
}
#u1977 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:138px;
  width:375px;
  height:18px;
}
#u1978 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:611px;
}
#u1979 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:198px;
  width:375px;
  height:610px;
  color:#FFFFFF;
}
#u1980 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:297px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1981 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:165px;
  width:24px;
  height:24px;
}
#u1982 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#868686;
}
#u1983 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:211px;
  width:153px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#868686;
}
#u1984 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u1985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u1985 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:247px;
  width:373px;
  height:1px;
}
#u1986 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#868686;
}
#u1987 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:258px;
  width:160px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#868686;
}
#u1988 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u1989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u1989 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:292px;
  width:373px;
  height:1px;
}
#u1990 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#868686;
}
#u1991 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:306px;
  width:73px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#868686;
}
#u1992 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u1993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u1993 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:340px;
  width:373px;
  height:1px;
}
#u1994 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#868686;
}
#u1995 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:356px;
  width:180px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#868686;
}
#u1996 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u1997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u1997 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:390px;
  width:373px;
  height:1px;
}
#u1998 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:51px;
}
#u1999 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:198px;
  width:1px;
  height:50px;
}
#u2000 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#868686;
}
#u2001 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:212px;
  width:73px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#868686;
}
#u2002 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u2003_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:43px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2003 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:512px;
  width:271px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2004 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:267px;
  word-wrap:break-word;
}
